---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Override font sizes at all breakpoints
html {
  font-size: 16px;

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }
}

// Custom page hero background - air theme
.page__hero {
  background-color: #0092ca !important;
}

.page__hero-caption {
  color: #ffffff;
}